@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.navigation-bar-heading{
    font-family: "lora";
    font-weight: 700;
    font-size: 80px;
}
#nav-1{
    color:black;
    margin-right:7px;
    font-family:"Montserrat";
    font-weight:600;
}
#nav-2{
    color:black;
    margin-right:7px;
    font-family:"Montserrat";
    font-weight:600;
}
#nav-3{
    color:black;
    margin-right:7px;
    font-family:"Montserrat";
    font-weight:600;
}
.sign-in-button{
    background-color: #ffd600;
    border-width: 0;
    border-radius:8px;
    padding:8px 10px;
    margin-right:15px;
    font-family:"Montserrat";
    font-weight:600;
}
.takeaction-section{
    background-color:#FAF7F0;
    padding:50px;
    margin-top:50px;
}
.takeaction-section-heading{
    font-family: "lora";
    font-size:35px;
}
.takeaction-section-desc{
    font-family:"Montserrat";
}
.action-card{
    padding: 15px;
}
.action-card-heading{
    font-family:"Montserrat";
    font-size:20px;
    font-weight:700;
}
.action-card-desc{
    font-family:"Montserrat";
}
.other-ways-to-take-action{
    background-color: white;
    border-style: solid;
    border-color: rgb(179, 178, 178);
    border-width:2px;
    margin:20px;
    padding:20px 10px;
    text-align: center;
    height: 90%;
}
.takeaction-link{
    font-family:"Montserrat";
    font-size:18px;
    font-weight:700;
    text-decoration: underline;
    color:black;
    text-decoration-color:#ffd600 ;
    margin-bottom:10px;
}
.about-us-section{
    background-color:#ffffff;
    padding:30px;
    margin-top:20px;
}
.about-us-section-heading{
    font-family: "Montserrat";
    padding:20px;
    font-weight:600;
}
.about-us-section-headline{
    font-family: "lora";
    font-weight:500;
}
.img{
    border-radius:10px;
}
.about-us-section-headline-2{
    font-family: "lora";
    font-size:30px;
    margin-top:30px;
}
.statistics{
    background-color: black;
    padding: 30px;
    margin-top: 20px;
}
.statistics-number{
    font-family: "Gotham";
    font-size:50px;
}
.statistics-desc{
    font-family: "Montserrat";
    font-weight:600;
}
.how-we-work-section{
    background-color:#F8EBD3;
    padding:50px;
}
.how-we-work-section-heading{
    font-family: "lora";
    font-size:35px;
}
.how-we-work-section-desc{
    font-family: "Montserrat";
}
.how-we-work-card-heading{
    font-family: "Montserrat";
    font-size:20px;
    font-weight: 600;
}
.how-we-work-card-desc{
    font-family: "Montserrat";
}
.how-we-work-card-link{
    color:black;
    text-decoration: underline;
    text-decoration-color: #ffd600;
    font-family: "Montserrat";
    font-weight: 500;
}
.our-team-link{
    margin-top: 50px;
    font-family: "Montserrat";
    font-weight: 500;
}
.ourteam-section{
    background-color: #FAF7F0;
    padding:40px;
}
.ourteam-section-card{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(161, 161, 161);
    padding:30px;
    text-align: center;
    height:50%;
    width:60%;

}
.ourteam-section-card-designation{
    color:rgb(44, 93, 160);
    font-family: "Montserrat";
    font-size: 20px;
    padding-bottom: 10px;
    font-weight:600;
}
.ourteam-section-card-name{
    font-family: "Montserrat";
    font-size: 20px;
    padding-bottom: 10px;
    font-weight:600;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100); /* This will make white icon black */
}
.footer-section{
    background-color: rgb(52, 52, 52);
    padding:30px;
}
.icon{
    font-size:25px;
    margin-right:25px;
    color:white;
}
.hr-line{
    background-color: #ffffff;
    font-weight: 700;

}